html, body { color: #ffffff; font-family: 'Helvetica Neue', sans-serif !important; height: 100%;}
/*body { background: #222222; font-size: 15px; line-height: 1.64; }*/

body { 
	background-size: 100%;
	background-position: absolute; 
	font-size: 15px; 
	line-height: 1.64;
	background: no-repeat;
    background-image: url("images/harborhan.png"); background-size: 100%; 
    padding-top: 300px;
    background-attachment: fixed;
    overflow: hidden;

}

.container {

	border: 1.5px solid #FFFFFF;
	bottom: 50px;
	content: "";
	left: 50px;
	position: absolute;
	right: 50px;
	top: 50px;
	padding-left: 350px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	}

.name {
		padding left: 300px;
		width: 685px;
		height: 100px;
		font-size: 80px; font-family: 'Avenir Next', sans-serif; text-align: top center; font-weight: 300;
		position: right;    
		text-shadow: 2px 2px #222222;
		border-bottom: 1px solid #ffffff ; 

		}



.overlay { background-color: #eeeeee; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.2; filter:alpha(opacity=0); z-index: 2; }

/*h1, .h1 { font-family: 'Avenir Next', sans-serif; height: 100%; font-weight: 300; margin-bottom: 10px; text-align: center; position: top}*/


.content { 

			font-size: 25px; 
			font-family: 'Avenir Next', sans-serif; color: #333333; 
			font-weight: 300;
			text-align: right !important;

			padding-top: 25px;
			padding-right: 15px;
 }

a.one:link {color:#0fb493; text-decoration: none; font-weight: 400;}
a.one:visited {color:#333333;}
a.one:hover {color:#ffffff; text-decoration: underline; }
a.one:




